---
layout: layouts/base.njk
title: "Azure AD Provider - tfplan2md"
description: ""
permalink: /providers/azuread.html
rootPrefix: "../"
navKey: "providers"
pageId: "providers/azuread"
---
{% legacyContent pageId %}
