---
layout: layouts/base.njk
title: "Microsoft Graph Provider - tfplan2md"
description: ""
permalink: /providers/msgraph.html
rootPrefix: "../"
navKey: "providers"
pageId: "providers/msgraph"
---
{% legacyContent pageId %}
