---
layout: layouts/base.njk
title: "Getting Started - tfplan2md"
description: ""
permalink: /getting-started.html
rootPrefix: ""
navKey: "install"
pageId: "getting-started"
---
{% legacyContent pageId %}
