---
layout: layouts/base.njk
title: "Azure DevOps Variable Groups - tfplan2md"
description: ""
permalink: /features/azdo-variable-groups.html
rootPrefix: "../"
navKey: "features"
pageId: "features/azdo-variable-groups"
---
{% legacyContent pageId %}
