---
layout: layouts/base.njk
title: "Azure Optimizations - tfplan2md"
description: ""
permalink: /features/azure-optimizations.html
rootPrefix: "../"
navKey: "features"
pageId: "features/azure-optimizations"
---
{% legacyContent pageId %}
