---
layout: layouts/base.njk
title: "Firewall Rule Inline Diffing - tfplan2md"
description: ""
permalink: /features/firewall-rules.html
rootPrefix: "../"
navKey: "features"
pageId: "features/firewall-rules"
---
{% legacyContent pageId %}
