---
layout: layouts/base.njk
title: "Inline Diffs - tfplan2md"
description: ""
permalink: /features/inline-diffs.html
rootPrefix: "../"
navKey: "features"
pageId: "features/inline-diffs"
---
{% legacyContent pageId %}
