---
layout: layouts/base.njk
title: "Automatic Module Grouping - tfplan2md"
description: ""
permalink: /features/module-grouping.html
rootPrefix: "../"
navKey: "features"
pageId: "features/module-grouping"
---
{% legacyContent pageId %}
