---
layout: layouts/base.njk
title: "NSG Rule Diffing - tfplan2md"
description: ""
permalink: /features/nsg-rules.html
rootPrefix: "../"
navKey: "features"
pageId: "features/nsg-rules"
---
{% legacyContent pageId %}
