---
layout: layouts/base.njk
title: "Semantic Value Icons - tfplan2md"
description: ""
permalink: /features/semantic-icons.html
rootPrefix: "../"
navKey: "features"
pageId: "features/semantic-icons"
---
{% legacyContent pageId %}
